# Dependencies & Package Managers
**/node_modules/
**/.gradle/
**/.esphome/

# Build outputs & caches
**/.godot/editor/
**/bin/Debug/
**/bin/Release/
**/obj/

# Runtime locks & logs
*.log
*.log.gz
*.lock
mcs/world/session.lock

# OS & Editor files
.DS_Store
Thumbs.db
worker.js
